*.ipch
.vs/
NeoKB_try/Debug/vc141.pdb
NeoKB_try/Debug/vc141.idb
NeoKB_try/Debug/Updater.obj
NeoKB_try/Debug/Updatable.obj
NeoKB_try/Debug/SheetmusicMetadata.obj
NeoKB_try/Debug/Pattern.obj
NeoKB_try/Debug/NoteControlPoint.obj
NeoKB_try/Debug/NeoKB_try.tlog/unsuccessfulbuild
NeoKB_try/Debug/NeoKB_try.tlog/NeoKB_try.lastbuildstate
NeoKB_try/Debug/NeoKB_try.tlog/CL.write.1.tlog
NeoKB_try/Debug/NeoKB_try.tlog/CL.read.1.tlog
NeoKB_try/Debug/NeoKB_try.tlog/CL.command.1.tlog
NeoKB_try/Debug/NeoKB_try.log
NeoKB_try/Debug/MtoObject.obj
NeoKB_try/Debug/Mod.obj
NeoKB_try/Debug/MeteorConfigManager.obj
NeoKB_try/Debug/MapBuilder.obj
NeoKB_try/Debug/Map.obj
NeoKB_try/Debug/LoadStateHandler.obj
NeoKB_try/Debug/InstanceCreator.obj
NeoKB_try/Debug/HasParent.obj
NeoKB_try/Debug/HardwareMapAlgorithm.obj
NeoKB_try/Debug/GlowLineEffect.obj
NeoKB_try/Debug/FrameworkConfigManager.obj
NeoKB_try/Debug/FileReader.obj
NeoKB_try/Debug/FallEffect.obj
NeoKB_try/Debug/ExplodeEffect.obj
NeoKB_try/Debug/EventProcessor.obj
NeoKB_try/Debug/Event.obj
NeoKB_try/Debug/Effect.obj
NeoKB_try/Debug/ControlPoint.obj
NeoKB_try/Debug/ChildAddable.obj
NeoKB_try/Debug/renderer.obj
NeoKB_try/Debug/WorkingSheetmusic.obj
NeoKB_try/Debug/SmDecoder.obj
NeoKB_try/Debug/SimpleSmDecoder.obj
NeoKB_try/Debug/SheetmusicPostprocessor.obj
NeoKB_try/Debug/SheetmusicPostprocesser.obj
NeoKB_try/Debug/SheetmusicManager.obj
NeoKB_try/Debug/SheetmusicConverter.obj
NeoKB_try/Debug/Sheetmusic.obj
NeoKB_try/Debug/Session.obj
NeoKB_try/Debug/Scheduler.obj
NeoKB_try/Debug/RulesetInfo.obj
NeoKB_try/Debug/RulesetExecutor.obj
NeoKB_try/Debug/Ruleset.obj
NeoKB_try/Debug/Program.obj
NeoKB_try/Debug/Playfield.obj
NeoKB_try/Debug/Player.obj
NeoKB_try/Debug/PatternGenerator.obj
NeoKB_try/Debug/MeteorRulesetExecutor.obj
NeoKB_try/Debug/MeteorRuleset.obj
NeoKB_try/Debug/MeteorPlayfield.obj
NeoKB_try/Debug/MeteorPatternGenerator.obj
NeoKB_try/Debug/MeteorGame.obj
NeoKB_try/Debug/MapShiftAlgorithm.obj
NeoKB_try/Debug/MapGenerateAlgorithm.obj
NeoKB_try/Debug/MapAlgorithm.obj
NeoKB_try/Debug/GlowLineMapAlgorithm.obj
NeoKB_try/Debug/GlowLineEffectMapper.obj
NeoKB_try/Debug/Game.obj
NeoKB_try/Debug/FallMapAlgorithm.obj
NeoKB_try/Debug/FallEffectMapper.obj
NeoKB_try/Debug/ExplodeMapAlgorithm.obj
NeoKB_try/Debug/ExplodeEffectMapper.obj
NeoKB_try/Debug/EventProcessorMaster.obj
NeoKB_try/Debug/EffectMapper.obj
NeoKB_try/Debug/ConfigManager.obj
NeoKB_try/Debug/Cachable.obj
NeoKB_try/Debug/MeteorSheetmusicConverter.obj
